/* app state yellow = rgb(237, 196, 12)/*
/* app state black = rgb(44,41,38)/*

/*Header*/
.header{
    background-image: url("header-tennis-court-2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    min-height: 450px;
    max-height: 600px;
    min-width: auto;
    

  }


/*Navigation Bar*/
.navbar{
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    background:rgb(44,41,38);
  }
    /*NavBar links */
    .navbar a {
    /*box*/
    float: right;
    padding: 18px;
    line-height: 25px;
    border-radius: 4px;
    /*text*/
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
    /*Hover functions*/
    .navbar a:hover {
    background-color: white;
    color: rgb(44,41,38);
  }
  
    /*Current tab function*/
  .navbar a.active {
    background-color: rgb(237, 196, 12);
    color: rgb(44,41,38);
  }