
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

div.home {
    margin: 100px;
}
    
div.welcome {
    text-align: center;
    margin-bottom: 50px;
}

div.casual {
    float: left;
    
}

div.competitive {
    float: right;
}