@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

/* General */

html {
    background-color: #faf9f6;
}

h1 {
    font-size: 42px;
    line-height: 1.5;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 36px;
    line-height: 3;
    font-family: 'Merriweather', serif;
}

p {
    font-size: 20px;
    line-height: 2;
    font-family: 'Merriweather', serif;
}

li {
    font-size: 20px;
    line-height: 2;
    font-family: 'Merriweather', serif;
}

a {
    color: #edc40c;
}

/* Home Page*/

div.home-wrapper {
    margin: 100px;

    display: inline-grid;
    grid-template-rows: auto 500px 600px;
    grid-template-columns: auto;
    column-gap: 50px;
    row-gap: 100px;
}
    
div.welcome {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
}

div.competitive-txt {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    inline-size: auto;
    text-align: center;
    overflow-wrap: break-word;
}

div.competitive-img {
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    max-width: 100%;
    max-height: auto;
    overflow: hidden;
}

div.casual-img {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    max-width: 100%;
    max-height: auto;
    overflow:hidden;
}

div.casual-txt {
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    
    inline-size: auto;
    text-align: center;
    overflow-wrap: break-word;
}


/* Join Page */

div.join-wrapper {
    margin: 100px;

    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
}

div.membership {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;

    inline-size: auto;
    overflow-wrap: break-word;
    display: inline-block;
    text-align: center;
}

ol.membership {
    display: inline-block;
    text-align: left;
}

div.paypal-api {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;

}

div.instagram-api {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
}

div.strava-api {
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 4;

    text-align: center;
}

div.resources {
    grid-row: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    
    text-align: center;
    inline-size: auto;
    overflow-wrap: break-word;

}

ul.resources {
    display: inline-block;
    text-align: left;
}

/* Schedule Page */

/* Records Page */

/* Contact Page */
