@import './../styles/variables.scss';

.container {
    //container styles
    background: $black;
    width: 100%;
    padding-bottom: 75px;  //this adjusted the height while keeping the footer down
    position: relative;
    display: flex;
    background: $black;
    justify-content: center;
    position: relative;
}

.footer {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 50px;

    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: $yellow;

    &__content {
        width: 100%;
        min-height: 10vh;

        display: inline-grid;
        column-gap: 50px;
        row-gap: 100px;

        &__devs {
            text-align: left;
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__date {
            text-align: right;
            grid-column-start: 3;
            grid-column-end: 4;
        }
    }
}