@import './../styles/variables.scss';

.container {
    //container styles
    background: $black;
    width: 100%;
    padding-bottom: 75px;  //this adjusted the height while keeping the footer down
    position: relative;
    display: flex;

    //text styles
    font-size: 20px;
    line-height: 2;
    font-family: 'Merriweather', serif;
    justify-content: center;
}

.footer {
    margin: 100px;

    &__devs {
        float: left;
    }

    &__date {
        float: right;
    }
}