@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

//fonts
$Merriweather: "Merriweather", serif;

//colors
$yellow: rgb(237,196,12);
$black: rgb(44,41,38);
$gray: rgb(143,143,143);
$white: rbg(255,255,255);

//spacing
$spacing-md: 16px;
$spacing-lg: 32px;
$borderRadius: 12px;
$headerHeight: 150px;

@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 48em) {
            @content;
        }
    }
}
